main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eyecatcher {
    /* display: flex;
    flex-direction: row;
    gap: 50px; */
    margin-top: 50px;
}

#questions-solved {
    /* position: absolute; */
    -webkit-background-clip: text!important;
    background-clip: text;
    background: linear-gradient(45deg, red 20%, #0035ff 80%);
    color: transparent;
    display: block;
    text-align: center;
}

.questions-solved-display {
    /* width: 450px; */
    font-size: 100px;
    z-index: 1;
    text-align: center;
}

.questions-solved-c {
    margin-top: 100px;
}

.get-started {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    text-align: center;
    gap: 15px;
}

button#getstarted {
    position: relative;
    border: 0px;
    background: linear-gradient(45deg, blue, red);
    padding: 15px;
    margin-bottom: 10px;
    z-index: 1;
}

.button-under {
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 0%;
    height: 4px;
    background: white;
    z-index: 2;
    transition: width 0.5s;
}

button#getstarted:hover .button-under {
    width: 100%;
}